* {
    font-family: 'Poppins', sans-serif;
  }
  body {
      background-color:#d9d2e9;
    margin: 0px;
  }
  head{
    margin: 0px;
  }
.navbar{
    height: 40px
  }
  .navbar ul{
    list-style-type: none;
    background-color: purple;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    width:100%;
    position: fixed;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block; 
  
  }
  a:hover{
    background-color: hsl(298, 87%, 15%);
  }
  
  .navbar li{
    float:left;
  }
  .search{
    padding: 6px;
    margin-top: 4px;
    margin-right: 0px;
    font-size: 17px;
    border: none;
    float: right;
    border-radius: 0 150px 150px 0 ;
  }
  .logo{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    left: 0px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: center;
  }